/* FORMS */

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 13px;
    border: 1px solid #d9dde6;
    border-radius: 11px;
    font-size: 14px;
    outline: none;
}

.form-group textarea {
    min-height: 110px;
    resize: vertical;
}

.form-buttons {
    display: flex;
    gap: 8px;
}
